*,
 ::before,
 ::after {

    padding : 0px ;
    margin : 0px ;
    list-style : none ;
    text-decoration : none ;
    box-sizing : border-box ;
}

.conteiner {

    width : 1280px ;
    background : #FFFFFF ;
    font-family : 'Montserrat', sans-serif ;
}

.header {

    padding : 31.5px 0px ;

}

.nav__list {

    text-align : center ;

}

.nav__item {

    display : inline-block ;
    vertical-align : middle ;
    margin-left :  72px ;   

}

.nav__item:first-child {

    margin-left : 0px ;
}

.nav__item:last-child {

    margin-left : 50px ;
 } 

.nav__link {
    display : inline-block ;
    vertical-align : middle ; 
    color :  #FF0000 ;
    font-style : normal ;
    font-weight : 700 ;
    font-size : 18px ;
    line-height : 18px ;
    letter-spacing : 2.7px ;
    text-transform : uppercase ;

}

.main__image {

    width : 100%  ;

}

.article {

    background : rgba(0, 0, 0, 0.0001) ;
}


.article__title {

    font-style : normal ;
    font-weight : 700 ;
    font-size : 22px ;
    line-height : 27px ;
    letter-spacing : 3.3px ;
    text-transform : uppercase ;
    color : #373737 ;
    text-align : center ;
    /* margin : 49px 253px 38px 253px ; */
    margin : 49px 38px ;

    
}

.article__description {

    margin : 0px 67.5px 28px 67.5px ;
    text-align : center ;
    font-style : normal ;
    font-weight : 400 ;
    font-size : 16px ;
    line-height : 26px ;
    letter-spacing : 2.4px ;
    color : #373737 ;

}

.wrapper-btn {

    text-align : center ;
    margin : 66px 0px 42px ;
}

.article__button {

    display : inline-block ;
    vertical-align : middle;
    background : #FF0000;
    border-radius : 4px ;
    letter-spacing : 1.8px ;
    text-transform : uppercase ;
    color : #FFFFFF ;
    padding : 18px 43.5px 17px 42.5px ;

}

.footer {

    margin : 82px 105px 29px ;
    background : rgba(0, 0, 0, 0.0001) ;
    text-align : right ;

}

.footer__copyright {

    font-weight : 700 ;
    font-size : 16px ;
    line-height : 20px ;
    letter-spacing : 2.4px ;
    color : #373737 ;

}